.auth{
    position: absolute;
    display: flex;
    width: 430px;
    // height: 695px;
    padding: 48px 28px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FEFEFE;
    box-shadow: 0px 4px 32px 0px rgba(51, 51, 51, 0.04);
    box-sizing: border-box;

    
    // overflow: hidden;
    .title{
        color: #151515;
        font-family: Mulish;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    .frame1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    .auth-line{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        position: relative;

        .line{
            // margin: 0;
            width: 100%;
            height: 1px;
            background: #24272C;
        }

        .box-p{
            display: flex;
            width: 48px;
            justify-content: center;
            align-items: center;

            position: absolute;
            // left: 163px;
            top: -23px;

            background:#FEFEFE;
        }
    }
    
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        align-self: stretch;

        .div-input{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            align-self: stretch;

            .errorp{
                padding: 0;
                margin: 0;
                color: red;
                font-size: 25px;
            }
        }

        .div-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            align-self: stretch;

            .form-submet{
                display: flex;
                padding: 10px 24px;
                background: #6200EE;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: none;
                align-self: stretch;

                color: #FEFEFE;
                font-family: Mulish;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            p{
                color: #333;
                text-align: center;
                font-family: Mulish;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 120%; /* 16.8px */

                span{
                    color:  #6200EE;
                    font-family: Mulish;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .auth {padding: 5px 28px;}
  }